<div class="col-md-12">
    <div role="form">
        <form role="form">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dados Pessoais</h3>
                </div>

                <div class="box-body">
                    <field id="nome" ng-readonly="{{ctrl.view}}" model="ctrl.pedido.cliente.nome" label="Nome" grid="col-xs-12 col-sm-4" placeholder="Informe o nome"></field>
                    <field id="email" model="ctrl.pedido.cliente.email" label="Email" type="email" grid="col-xs-12 col-sm-4" placeholder="Informe o mês"></field>
                    <field id="telefone" model="ctrl.pedido.cliente.telefone" label="Celular" grid="col-xs-12 col-sm-4" placeholder="Informe o ano"></field>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Veículo</h3>
                </div>

                <div class="box-body">
                    <field id="name" model="ctrl.pedido.cliente.carro.nome" label="Modelo" grid="col-xs-12 col-sm-4" placeholder="Informe o nome"></field>
                    <field id="mes" model="ctrl.pedido.cliente.carro.fabricante" label="Fabricante" type="email" grid="col-xs-12 col-sm-4" placeholder="Informe o mês"></field>
                    <field id="ano" model="ctrl.pedido.cliente.carro.ano" label="Ano" grid="col-xs-12 col-sm-4" placeholder="Informe o ano"></field>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalhes do Serviço</h3>
                </div>

                <div class="box-body">
                    <field id="name" model="ctrl.pedido.descricao" label="Descrição" grid="col-xs-12 col-sm-12" placeholder="Informe o nome"></field>
                    <div ng-repeat="servico in ctrl.pedido.servicos">
                        <field id="name" model="servico.descricao" label="Serviço" grid="col-xs-12 col-sm-6" placeholder="Informe o nome"></field>
                        <field id="name" model="servico.valor | number : 2 " label="Valor" grid="col-xs-12 col-sm-6" placeholder="Informe o nome"></field>
                    </div>
                </div>

                <div class="box-footer">
                    <div class="row">
                        <!--<div class="col-sm-6 col-xs-12">
                            <button class="btn btn-primary" ng-click="ctrl.create()">Incluir</button>
                            <button class="btn btn-info" ng-click="ctrl.update()"> Alterar</button>
                            <button class="btn btn-danger" ng-click="ctrl.delete()"> Excluir</button>
                            <button class="btn btn-default" ng-click="ctrl.cancelar()">Cancelar</button>
                        </div>-->
                        <div class="col-sm-4 col-xs-12 pull-right">
                            <div class="description-block">
                                <h5 class="description-header">R$ {{ ctrl.pedido.valor | number : 2 }}</h5>
                                <span class="description-text">Valor Total</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>